In [1]:
import csv

In [5]:
open_file = open('student data.csv', mode='r')
open_file

In [7]:
file_read = csv.reader(open_file)
file_read

In [9]:
data = list(file_read)
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'],
 ['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

In [11]:
print(data[0])

['roll no', 'Name', 'Chemistry', 'Physics', 'Math']

In [13]:
header = data[0]
header

['roll no', 'Name', 'Chemistry', 'Physics', 'Math']

In [15]:
student_data = data[1:]
student_data

[['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

In [17]:
chem_marks = []
phy_marks = []
maths_marks = []
for i in student_data:
    chem_marks.append(float(i[2]))
    phy_marks.append(float(i[3]))
    maths_marks.append(float(i[4]))
print(maths_marks)

[87.0, 88.0, 89.0, 90.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 78.0, 45.0, 46.0, 89.0, 78.0, 56.0, 78.0, 54.0, 78.0, 46.0, 79.0, 46.0, 45.0, 56.0]

In [19]:
sum(chem_marks)

3421.0

In [21]:
sum(phy_marks)

3253.0

In [23]:
sum(maths_marks)

3868.0

In [25]:
chem_avg = sum(chem_marks)/len(chem_marks)
chem_avg

68.42

In [27]:
phy_avg = sum(phy_marks)/len(phy_marks)
phy_avg

65.06

In [29]:
maths_avg = sum(maths_marks)/len(maths_marks)
maths_avg

77.36

In [31]:
print(f"Average marks of Chemistry: {chem_avg} \nAverage marks of Physics: {phy_avg} \nAverage marks of Maths: {maths_avg}")

Average marks of Chemistry: 68.42
Average marks of Physics: 65.06
Average marks of Maths: 77.36

In [33]:
result = 0
for per in student_data:
    chem = int(per[2])
    phy = int(per[3])
    math = int(per[4])
    total_marks = chem + phy + math
    percentage = round((total_marks/300) * 100,1)
    per.append(percentage)
    if percentage >=50:
        result = "Pass"
    else:
        result = "Fail"
    per.append(result)
    print(per)

['101', 'Aliza', '50', '23', '87', 53.3, 'Pass']
['102', 'Fareed', '45', '24', '88', 52.3, 'Pass']
['103', 'Basit', '46', '25', '89', 53.3, 'Pass']
['104', 'Abdullah', '47', '26', '90', 54.3, 'Pass']
['105', 'Ali', '48', '27', '67', 47.3, 'Fail']
['106', 'Mubashir', '49', '28', '68', 48.3, 'Fail']
['107', 'Waleed', '50', '29', '69', 49.3, 'Fail']
['108', 'Mansoor', '51', '30', '70', 50.3, 'Pass']
['109', 'Zain', '52', '31', '71', 51.3, 'Pass']
['110', 'Mohsin', '53', '67', '72', 64.0, 'Pass']
['111', 'Shahmeer', '54', '68', '73', 65.0, 'Pass']
['112', 'Rao', '55', '69', '74', 66.0, 'Pass']
['113', 'Aurangzeb', '56', '70', '75', 67.0, 'Pass']
['114', 'Zeeshan', '57', '71', '76', 68.0, 'Pass']
['115', 'Hamna', '58', '72', '77', 69.0, 'Pass']
['116', 'Hamza', '59', '73', '78', 70.0, 'Pass']
['117', 'Khalid', '60', '74', '79', 71.0, 'Pass']
['118', 'Behroz', '61', '75', '80', 72.0, 'Pass']
['119', 'Justin', '62', '76', '81', 73.0, 'Pass']
['120', 'Danish', '63', '77', '82', 74.0, 'Pass']
['121', 'Kainat', '64', '78', '83', 75.0, 'Pass']
['122', 'Sameer', '65', '79', '84', 76.0, 'Pass']
['123', 'Raza', '66', '80', '85', 77.0, 'Pass']
['124', 'Kumar', '67', '81', '86', 78.0, 'Pass']
['125', 'Komal', '68', '82', '87', 79.0, 'Pass']
['126', 'Erum', '69', '83', '88', 80.0, 'Pass']
['127', 'Faiza', '70', '84', '89', 81.0, 'Pass']
['128', 'Saeed', '71', '85', '90', 82.0, 'Pass']
['129', 'Waqar', '72', '86', '91', 83.0, 'Pass']
['130', 'Wali', '73', '87', '92', 84.0, 'Pass']
['131', 'Wajid', '74', '88', '93', 85.0, 'Pass']
['132', 'Waseeb', '75', '89', '94', 86.0, 'Pass']
['133', 'Shiza', '76', '90', '95', 87.0, 'Pass']
['134', 'Shabina', '77', '91', '96', 88.0, 'Pass']
['135', 'Shazain', '78', '55', '97', 76.7, 'Pass']
['136', 'Lubna', '79', '61', '98', 79.3, 'Pass']
['137', 'Laiba', '80', '88', '78', 82.0, 'Pass']
['138', 'Khursheed', '81', '56', '45', 60.7, 'Pass']
['139', 'Ali', '82', '89', '46', 72.3, 'Pass']
['140', 'Aiza', '83', '45', '89', 72.3, 'Pass']
['141', 'Aiman', '84', '92', '78', 84.7, 'Pass']
['142', 'Yasmeen', '85', '36', '56', 59.0, 'Pass']
['143', 'Tasbeel', '86', '78', '78', 80.7, 'Pass']
['144', 'Laraib', '87', '56', '54', 65.7, 'Pass']
['145', 'Saleem', '88', '78', '78', 81.3, 'Pass']
['146', 'Bismil', '89', '89', '46', 74.7, 'Pass']
['147', 'Batool', '90', '56', '79', 75.0, 'Pass']
['148', 'Iqra', '91', '33', '46', 56.7, 'Pass']
['149', 'Zarnish', '92', '78', '45', 71.7, 'Pass']
['150', 'Zara', '83', '45', '56', 61.3, 'Pass']

In [35]:
header.append('Percentage')
header.append('Result')
print(header)

['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Percentage', 'Result']

In [37]:
print(data)

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Percentage', 'Result'], ['101', 'Aliza', '50', '23', '87', 53.3, 'Pass'], ['102', 'Fareed', '45', '24', '88', 52.3, 'Pass'], ['103', 'Basit', '46', '25', '89', 53.3, 'Pass'], ['104', 'Abdullah', '47', '26', '90', 54.3, 'Pass'], ['105', 'Ali', '48', '27', '67', 47.3, 'Fail'], ['106', 'Mubashir', '49', '28', '68', 48.3, 'Fail'], ['107', 'Waleed', '50', '29', '69', 49.3, 'Fail'], ['108', 'Mansoor', '51', '30', '70', 50.3, 'Pass'], ['109', 'Zain', '52', '31', '71', 51.3, 'Pass'], ['110', 'Mohsin', '53', '67', '72', 64.0, 'Pass'], ['111', 'Shahmeer', '54', '68', '73', 65.0, 'Pass'], ['112', 'Rao', '55', '69', '74', 66.0, 'Pass'], ['113', 'Aurangzeb', '56', '70', '75', 67.0, 'Pass'], ['114', 'Zeeshan', '57', '71', '76', 68.0, 'Pass'], ['115', 'Hamna', '58', '72', '77', 69.0, 'Pass'], ['116', 'Hamza', '59', '73', '78', 70.0, 'Pass'], ['117', 'Khalid', '60', '74', '79', 71.0, 'Pass'], ['118', 'Behroz', '61', '75', '80', 72.0, 'Pass'], ['119', 'Justin', '62', '76', '81', 73.0, 'Pass'], ['120', 'Danish', '63', '77', '82', 74.0, 'Pass'], ['121', 'Kainat', '64', '78', '83', 75.0, 'Pass'], ['122', 'Sameer', '65', '79', '84', 76.0, 'Pass'], ['123', 'Raza', '66', '80', '85', 77.0, 'Pass'], ['124', 'Kumar', '67', '81', '86', 78.0, 'Pass'], ['125', 'Komal', '68', '82', '87', 79.0, 'Pass'], ['126', 'Erum', '69', '83', '88', 80.0, 'Pass'], ['127', 'Faiza', '70', '84', '89', 81.0, 'Pass'], ['128', 'Saeed', '71', '85', '90', 82.0, 'Pass'], ['129', 'Waqar', '72', '86', '91', 83.0, 'Pass'], ['130', 'Wali', '73', '87', '92', 84.0, 'Pass'], ['131', 'Wajid', '74', '88', '93', 85.0, 'Pass'], ['132', 'Waseeb', '75', '89', '94', 86.0, 'Pass'], ['133', 'Shiza', '76', '90', '95', 87.0, 'Pass'], ['134', 'Shabina', '77', '91', '96', 88.0, 'Pass'], ['135', 'Shazain', '78', '55', '97', 76.7, 'Pass'], ['136', 'Lubna', '79', '61', '98', 79.3, 'Pass'], ['137', 'Laiba', '80', '88', '78', 82.0, 'Pass'], ['138', 'Khursheed', '81', '56', '45', 60.7, 'Pass'], ['139', 'Ali', '82', '89', '46', 72.3, 'Pass'], ['140', 'Aiza', '83', '45', '89', 72.3, 'Pass'], ['141', 'Aiman', '84', '92', '78', 84.7, 'Pass'], ['142', 'Yasmeen', '85', '36', '56', 59.0, 'Pass'], ['143', 'Tasbeel', '86', '78', '78', 80.7, 'Pass'], ['144', 'Laraib', '87', '56', '54', 65.7, 'Pass'], ['145', 'Saleem', '88', '78', '78', 81.3, 'Pass'], ['146', 'Bismil', '89', '89', '46', 74.7, 'Pass'], ['147', 'Batool', '90', '56', '79', 75.0, 'Pass'], ['148', 'Iqra', '91', '33', '46', 56.7, 'Pass'], ['149', 'Zarnish', '92', '78', '45', 71.7, 'Pass'], ['150', 'Zara', '83', '45', '56', 61.3, 'Pass']]

In [39]:
new_file = open('Updated Data.csv', mode='w', newline='')
new_file

In [41]:
writer = csv.writer(new_file)
writer

In [43]:
writer.writerows(data)

In [45]:
new_file.close()